/* .page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
  } */
  
  /* .link {
    text-decoration: none;
    opacity: 0.75;
  }
  
  .link:hover{
    color:rgb(244, 2, 208);
    transition:0.75s linear;
    opacity: 0.1;
  } */
  
  /* .headings {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
  }
   */

  .li {
    list-style-type: none; /* Убираем маркеры */
  }
  
   .ul {
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
  
   /* .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  } */
    /* выше установили ограничения для секции */
  
  /* .logo {
    display: flex;
    height: 32px;
    width: 228px;
    z-index: 5;
  } */
  
  /* .logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url("/images/logo_place_header.svg");
  } */
  
  /* .header__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    max-width: 730px;
    margin-left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    position: relative;
    z-index: 4;
  } */
  
  /* .header__subtitle {
    margin: 0;
    padding: 0;
    max-width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 3;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  } */
  
  /* .header__link {
    margin: 0;
    padding: 0;
    color: #2f80ed;
  } */
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  
  /* .header__main-illustration {
    height: 608px;
    width: 765px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  } */
  
  /* .header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
    z-index: 0;
    animation: rotation 20s ease-in-out infinite;
  } */

  /* .description {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */
  
  /* .two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
  } */
  
  /* .two-columns__brief {
    margin: 0;
    padding: 0;
    color: #2f80ed;
    max-width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    display: flex;
  }
   */
  /* .two-columns__main-text{
    display: flex;
    flex-direction: column;
    min-width: 784px;
    width: 80%;
   } */
  
  /* .two-columns__paragraph {
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
  } */
  
  /* .two-columns__paragraph:last-child {
    margin-bottom: 0;
  } */
  
  /* .two-columns__span-accent {
    font-size: 24px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
  } */

  /* .digits {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* .section-title {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    width: 60%;
    justify-content: center;
  } */
  
  /* .section-subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    width: 60%;
    justify-content: center;
  } */
  
  /* .table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
  } */
  
  /* .table__cell {
    padding-top: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
  } */
  
  /* .table__heading {
    display: flex;
    padding-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
  } */
  
  /* .table__text {
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
  } */
  
  /* .table__text:not(:last-child) {
    padding-bottom: 20px;
  } */
  
  /* .khan {
    padding-top: 105px;
    background-color: #F2F2F2;
  } */
  
  /* .khan__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  } */
  
  /* .khan__author {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
  } */
  
  /* .khan__title {
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
  } */
  
  /* .khan__quote {
    width: 790px;
    margin-top: 50px;
    margin-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
  } */
  
  /* .khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 10px;
  } */
  
  /* .khan__auote-author-subline {
    line-height: 1.15;
    font-size:24px;
    margin-top:10px;
    margin-bottom:68px;
  } */
  
  /* .khan__book-container {
    display:flex;
    margin-top:68px;
  } */
  
  /* .khan__book-pic {
    width:620px;
    height:608px;
    margin-right:20px;
    object-position: top;
    object-fit: cover;
  } */
  
  /* .khan__buy-link {
    line-height: 42px;
    font-size:30px;
    margin-left:20px;
  } */
  
  /* .techniques {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* .cards {
    display: flex;
    width: 920px;
    align-self: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  } */
  
  /* .card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 60px;
    width: 160px;
    margin-left: 100px;
  } */
  
  /* .card__image {
    display: flex;
    height: 160px;
    width: 160px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 43px;
    overflow: hidden;
    justify-self: center;
    border-radius: 50%;
  } */
  
  /* .card__title {
    display: flex;
    padding-bottom: 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  } */
/*   
  .card__desription {
    display: flex;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
  } */
  
  /* .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-top: 100px;
    padding-bottom:80px;
  
    overflow:hidden;
    background: linear-gradient(to bottom,#fff 70%,#f2f2f2 30%);
  } */
  
  /* .video__iframe {
    margin-top: 50px;
    width:515px;
    height:316px;
  } */
  
  /* .video__iframes {
    margin-top: 50px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
   */
  /* .oalkey {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:60px;
    background-color:#F2F2F2;
  } */
  
  /* .feynman {
    box-sizing: border-box;
    min-height: 890px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    z-index: 0;
  } */
  
  /* .feynman__block {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 0;
  } */
  
  /* .feynman__title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    padding-bottom: 70px;
  } */
  
  /* .feynman__subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    justify-self: center;
    align-self: center;
    z-index: 3;
  } */
  
  /* .feynman__link {
    color: #2f80ed;
    display: flex;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    z-index: 3;
  } */
  
  /* .kaufman {
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1f1f1f;
    color:white;
    position: relative;
    align-items: center;
  } */
  
  /* .section-title_theme_dark {
    position: relative;
    z-index: 4;
  } */
  
  /* .section-subtitle_theme_dark {
    position: relative;
    z-index: 4;
    margin-top: 0;
  } */
  
  /* .table_theme_dark {
    padding: 0;
    position: relative;
    z-index: 4;
    justify-content: space-between;
  } */
  
  /* .table__cell_theme_dark {
    width: 200px;
    padding-top: 80px;
  } */
  
  /* .table__heading_theme_dark {
    display: flex;
    padding-bottom: 20px;
    font-weight: bolder;
  } */
  
  /* .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-style: normal;
  } */
/*   
  .kaufman__triangle {
    width: 877px;
    height: 877px;
    display: flex;
    position: absolute;
    top: 0;
    right: -210px;
    background-image: url("../images/kaufman-triangle.svg");
    background-size: cover;
    background-position: right top;
    z-index: 1;
  
    animation: rotation 20s ease-in-out infinite;
  } */
  
  /* .resourses {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-top: 100px;
    padding-bottom: 217px;
  } */
  
  /* .resourses__logo-zone {
    display: flex;
    justify-content: space-between;
    margin-right:auto;
    margin-left:auto;
    margin-top: 80px;
    width: 1100px;
    height: 38px;
  } */
  
  /* .resourses__logo {
    width: 270px;
    height: 38px;
  } */
  
  /* .footer {
    background-color: #1f1f1f;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 350px;
  } */
  
  /* .footer__columns {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  } */
  
  .footer__column {
  
  }
  
  .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }
  
  /* .logo_place_footer {
    display: flex;
    color: white;
    background-image: url(../images/logo_place_footer.svg);
    height: 32px;
    width: 228px;
  } */
  
  /* .footer__author {
    display: flex;
    line-height: 25px;
    font-size: 18px;
    font-style: normal;
    margin-top: 18px;
    margin-bottom: 18px;
  }
   */
  /* .footer__column_content_info {
    display: flex;
    flex-direction: column;
  }
  
  .footer__column_content_social {
    display: flex;
    flex-direction: column;
  } */
  
  /* .footer__column-heading {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  } */
  
  /* .footer__column-links {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 16px;
  } */
  
  /* .footer__column-link {
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    font-style: normal;  
  } */
  
  /* .footer__social-icon {
    display: flex;
    align-self: center;
    width: 16px;
    height: 16px;
    padding-right: 10px;
  } */
  
  /* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */